// Button Styles
section {
  .btn-link {
    display: block;
    text-align: right;
    margin-top: 20px;

    .btn-more {
      text-transform: uppercase;
      font-weight: 900;
      padding: 5px 8px;
      color: $backgroundColor;
      background-color: $subColor;
      border-radius: 5px;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

      &:hover,
      &:focus,
      &:active {
        color: $mainColor;
        // text-shadow: 2px 2px 3px $backgroundColor;
        // -webkit-box-shadow: 0 3px 5px #f3eeea45;
        // box-shadow: 0 3px 5px #f3eeea45;
      }
    }
  }
}
