// Body Styles

body {
  margin: 10px 0;
  background: #4b3c93;
  overflow-x: hidden;
}

// #386d81,
// #6989b1,
// #7e7daf,
// #827baf,
// #976cab,
// #9e63a6,
// #a658a0,
// #a8569f,
// #b06da0,
// #ce86ae

// background: linear-gradient(
//   #386d81,
//   #6989b1,
//   #827baf,
//   #976cab,
//   #9e63a6,
//   #a658a0,
//   #a8569f,
//   #b06da0,
//   #ce86ae
// )
// background-blend-mode: screen;
