// Sections Style
section {
  .section-media {
    width: 100%;
    object-fit: cover;
    align-self: center;

    .video-prototype {
      width: 100%;
      height: auto;
    }
  }
  @media screen and (min-width: $tabletPortrait) {
    max-width: 1000px;
    margin: 0 170px 0 auto;
  }
  @media screen and (min-width: 1340px) {
    margin: 0 auto;
  }
}
.banner {
  margin: 0 auto;
}
.work {
  display: grid;
  grid-gap: 60px;
  margin-bottom: 40px;

  @media (min-width: $tabletPortrait) {
    grid-gap: 80px;
    margin-bottom: 120px;
  }
}

.grid-container {
  display: grid;
  grid-gap: 20px;

  @media screen and (min-width: 800px) {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 20px;

    .section-lines {
      align-self: center;
    }
  }
}

.section-media {
  position: relative;
}

.section-lines {
  h4 {
    margin: 5px 0 10px 0;
    @media (min-width: $tabletPortrait) {
      margin: 15px 0;
    }
  }
}
.icon-skills {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 100px;
}

.link-team {
  text-decoration: none;
  color: $mainColor;
  font-weight: 700;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    color: $subColor;
    text-shadow: 2px 3px 2px $mainColor;
  }
}
