// Wrapper Styles
.wrapper {
  margin: 0 10px;
  overflow-x: hidden;

  @media (min-width: 500px) {
    margin: 0 20px;
  }

  @media (min-width: $tabletPortrait) {
    section:not(.banner) {
      width: calc(100vw - 220px);
    }
  }
  @media (min-width: $tabletLandscape) {
    margin: 0 30px;
  }
}
