// Variables

// Colors
$myPurple: #4b3c93;
$myPink: #ffc0b8;
$myWhite: #f3eeea;

// Media Queries
$desktopMedium: 1250px;
$tabletLandscape: 1024px;
$tabletPortrait: 850px;
$phoneLandscape: 670px;
$phonePortrait: 420px;
