// Variables

// Colors
$backgroundColor: #dfb9a9d4;
$mainColor: salmon;
$subColor: #f3f3f5;

// Media Queries
$desktopMedium: 1250px;
$tabletLandscape: 1024px;
$tabletPortrait: 850px;
$phoneLandscape: 670px;
$phonePortrait: 420px;
