// Variables

// Colors
$backgroundColor: #f2d6d4;
$myPink: #f07e71;
$myYellow: #e8e86d;
$myPurple: #dbc5f2;
$myGreen: #b5eeb1;

$textGrey: #707070;
$textWhite: #f3f3f5;

// Media Queries
$desktopMedium: 1250px;
$tabletLandscape: 1024px;
$tabletPortrait: 850px;
$phoneLandscape: 670px;
$phonePortrait: 420px;
