// Banner Styles

.banner {
  @include position-rel;

  .hero-text {
    @include position-ab;
    white-space: nowrap;
    color: white;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.3);
    margin: 0;
    border: white 7px solid;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.3), inset 3px 3px rgba(0, 0, 0, 0.3);
  }
}
