// Travel
.flex-container {
  @include flex-general;

  .transp {
    width: 65%;
    @media (max-width: $phoneLandscape) {
      width: 48%;
    }
  }

  .hotels {
    width: 30%;
    @media (max-width: $phoneLandscape) {
      width: 48%;
    }
  }
}

.grid-container-transp {
  @include grid(2);
  grid-template-rows: 1fr 1fr;

  @media (max-width: $phoneLandscape) {
    @include grid(1);
  }
}

// Hotel Links
.link-box {
  ul {
    @include flatten;
  }

  li {
    @include link-st;
    padding: 10px;
  }

  a {
    display: block;
    font-size: 0;
    width: auto;
    height: 80px;
    background-color: $lightGray;
  }

  .tripadvisor {
    background-image: url("../images/travel-list-tripadvisor.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .hotelscombined {
    background-image: url("../images/travel-list-hotelscombined.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .agoda {
    background-image: url("../images/travel-link-agoda.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .hotelscom {
    background-image: url("../images/travel-link-hotelscom.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
