// Table Styles
$table-color : rgb(184, 184, 184);

table, th, td {
    border: black 1px solid;
    border-color: $table-color;
    border-collapse: collapse; 

    th, td {
         padding: 5px;
    } 
}

table {
    tr:nth-child(even) {
        background-color: #eee;
    }
    tr:nth-child(odd) {
        background-color: #fff;
    }
    th {
        background-color: black;
        color: white;
    }
    
    td:last-child {
        text-align: right;
    }
}
  