// Typography

@font-face {
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff")
    format("woff");
  font-family: "HangeulNuri-Bold";
}

/* Fonts---------------------------- */
/* Two Fonts are used------------------
 * Title: font-family: 'HangeulNuri-Bold';
          font-weight: bold; font-style: normal
 * font-family: "Gotham SSm A", "Gotham SSm B", sans-serif; 
 --------------------------------------*/

h1 {
  font-family: $hangeulNuri;
  font-size: 2em;
}
h2 {
  font-family: $hangeulNuri;
  font-size: 1em;
}
h3 {
  font-family: $hangeulNuri;
  font-size: 0.8em;
}
nav {
  font-family: $hangeulNuri;
  font-size: 1.2em;
}
.top-main h1 {
  font-size: 2em;
}
.footer-copyright {
  font-family: $gotham;
}
article h2 {
  font-size: 1.2em;
}

p,
table {
  font-family: $gotham;
  font-size: 1em;
  line-height: 1.4em;
  text-align: justify;
}

.hero-text {
  font-size: 4em;
}

@media (max-width: $tabletPortrait) {
  h1:not(.logo) {
    font-size: 1.2em;
  }

  h2,
  article h2,
  nav {
    font-size: 1em;
  }

  .hero-text {
    font-size: 6vw;
  }

  .box-child {
    font-size: 3vh;
  }
}
