// Variables

// Fonts
$hangeulNuri: 'HangeulNuri-Bold';
$gotham: "Gotham SSm A", "Gotham SSm B", sans-serif;

// Header Height
$header-height: 3.5em;

// Link Utility Variable
$link-hover-selector: '&:hover, &:focus, &:active';


// Colors
$lightGray: rgb(233, 233, 233);



// Media Query Breakpoints
$desktopMedium: 1250px;
$tabletLandscape: 1024px;
$tabletPortrait: 850px;
$phoneLandscape: 670px;
$phonePortrait: 420px;
