/* CSS Document */
@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,400i,700,700i,900,900i|Montserrat:400,700,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto; }

html a {
  text-decoration: none; }

html {
  font-family: "Montserrat", sans-serif; }

h1 {
  font-size: 3em;
  text-align: center;
  color: salmon;
  margin: 0;
  font-weight: 400; }

h2 {
  font-size: 2em;
  text-align: center;
  color: salmon;
  margin: 0; }

h3 {
  font-size: 1.5em;
  text-align: center;
  color: #f3f3f5;
  margin: 0; }

h4 {
  text-align: center;
  font-size: 1.2em;
  color: #f3eeea;
  margin: 0; }

p {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
  color: #f3eeea;
  font-family: "Montserrat", sans-serif;
  font-weight: 400; }

footer p {
  font-family: "Montserrat", sans-serif; }

header {
  position: relative;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  width: 100%; }
  @media screen and (min-width: 600px) {
    header {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; } }
  header .logo {
    margin-left: 10px;
    position: absolute;
    top: 0;
    left: 0; }
    header .logo img {
      width: 300px; }
    @media (max-width: 370px) {
      header .logo img {
        width: 100%; } }
  header .hamburger {
    position: fixed;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    padding: 10px;
    z-index: 9999; }
    header .hamburger .hamburger-icon {
      width: 4em; }
  @media (min-width: 670px) {
    header {
      padding: 20px; } }
  @media (min-width: 1024px) {
    header {
      padding: 30px;
      max-width: 1000px;
      margin: 0 auto; } }

header nav a {
  display: block;
  color: #f3f3f5;
  font-size: 1.5em; }
header nav ul {
  margin: 0;
  padding: 0; }
header nav ul.list li {
  list-style: none;
  line-height: 5em; }
header nav ul.list .list-project {
  line-height: 5em; }
header nav ul.list .list-sub li {
  line-height: 2em; }
header nav ul.list-sub li {
  line-height: 3em; }
header nav ul.list-sub a {
  font-size: 1.2em;
  color: salmon; }

header .main-nav {
  display: none; }
header .overlay {
  display: block;
  height: 100vh;
  width: 0;
  position: fixed;
  opacity: 0.8;
  z-index: 9999;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -ms-flex-line-pack: start;
  align-content: flex-start; }
header .overlay-nav {
  display: block;
  position: relative;
  top: 30%;
  right: 10%;
  -webkit-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  transform: translateY(-30%);
  width: 100vw;
  margin-top: 30px; }
  header .overlay-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
    text-indent: 10%; }
  header .overlay-nav a {
    width: 50%; }
header ul {
  display: block;
  margin: 0;
  padding: 0; }
header .overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: #f3f3f5;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
header .overlay .closebtn:hover {
  cursor: pointer; }
@media screen and (min-width: 850px) {
  header .overlay,
  header .hamburger {
    display: none; }
  header .main-nav {
    display: table;
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    width: 150px;
    height: 100vh;
    z-index: 999; }
    header .main-nav a {
      display: inline-block;
      padding: 0 10px;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      header .main-nav a:hover, header .main-nav a:focus, header .main-nav a:active {
        text-decoration: underline; }
    header .main-nav ul {
      display: table-cell;
      vertical-align: middle; }
    header .main-nav .list-sub li {
      margin: 15px 0; }
    header .main-nav .list-sub a {
      display: inline-block;
      padding: 0 5px;
      -webkit-transition: all 0.6s ease-in-out;
      -o-transition: all 0.6s ease-in-out;
      transition: all 0.6s ease-in-out; }
      header .main-nav .list-sub a:hover, header .main-nav .list-sub a:focus, header .main-nav .list-sub a:active {
        opacity: 0.8; } }

.hamburger {
  display: block;
  margin: auto 0;
  cursor: pointer; }
  .hamburger .hamburger-wrapper .line {
    height: 5px;
    background: rgba(243, 243, 245, 0.8);
    margin: 6px;
    border-radius: 5px;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
  .hamburger .hamburger-wrapper .line:nth-of-type(1) {
    width: 35px; }
  .hamburger .hamburger-wrapper .line:nth-of-type(2) {
    width: 28px;
    margin-left: auto; }
  .hamburger .hamburger-wrapper .line:nth-of-type(3) {
    width: 20px;
    margin-left: auto; }
  .hamburger:hover .line {
    background: rgba(250, 128, 114, 0.8); }

.overlay button {
  background: transparent;
  border: none;
  position: absolute;
  top: -11px;
  right: -27px; }
  .overlay button .hamburger-wrapper .line {
    height: 5px;
    background: rgba(243, 243, 245, 0.8);
    margin: 6px;
    border-radius: 5px;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
  .overlay button .hamburger-wrapper .line:nth-of-type(1) {
    width: 35px; }
  .overlay button .hamburger-wrapper .line:nth-of-type(2) {
    width: 28px;
    margin-left: auto; }
  .overlay button .hamburger-wrapper .line:nth-of-type(3) {
    width: 20px;
    margin-left: auto; }
  .overlay button:hover .line {
    background: rgba(250, 128, 114, 0.8); }

body {
  margin: 10px 0;
  background: #dcba9c;
  overflow-x: hidden; }

.wrapper {
  margin: 0 10px;
  overflow-x: hidden; }
  @media (min-width: 500px) {
    .wrapper {
      margin: 0 20px; } }
  @media (min-width: 850px) {
    .wrapper section:not(.banner) {
      width: calc(100vw - 220px); } }
  @media (min-width: 1024px) {
    .wrapper {
      margin: 0 30px; } }

.banner {
  display: -ms-grid;
  display: grid;
  grid-gap: 15%;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: calc(100vh - 60px);
  min-height: 600px; }
  .banner .banner-title h1 {
    font-size: 4em;
    width: 10ch;
    white-space: nowrap;
    text-align: center; }

.banner-title {
  font-weight: 400;
  webkit-animation: glow 2s ease-in-out infinite alternate;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate; }

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px salmon, 0 0 10px salmon, 0 0 15px #ffc0b8, 0 0 20px #ffc0b8, 0 0 25px #f3eeea; }
  to {
    text-shadow: 0 0 10px #f3eeea, 0 0 15px #f3eeea, 0 0 20px #ffc0b8, 0 0 25px #ffc0b8, 0 0 30px salmon; } }
.banner-sub-title {
  font-weight: 400;
  webkit-animation: glow 1.5s ease-in-out infinite alternate;
  -webkit-animation: glow 1.5s ease-in-out infinite alternate;
  animation: glow 1.5s ease-in-out infinite alternate; }

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 1px #f3eeea, 0 0 2px #ffc0b8, 0 0 3px #ffc0b8, 0 0 5px #ffc0b8, 0 0 7px #ffc0b8; }
  to {
    text-shadow: 0 0 2px #ffc0b8, 0 0 4px salmon, 0 0 6px salmon, 0 0 8px salmon, 0 0 10px salmon; } }
section .section-media {
  width: 100%;
  object-fit: cover;
  align-self: center; }
  section .section-media .video-prototype {
    width: 100%;
    height: auto; }
@media screen and (min-width: 850px) {
  section {
    max-width: 1000px;
    margin: 0 170px 0 auto; } }
@media screen and (min-width: 1340px) {
  section {
    margin: 0 auto; } }

.banner {
  margin: 0 auto; }

.work {
  display: grid;
  grid-gap: 60px;
  margin-bottom: 40px; }
  @media (min-width: 850px) {
    .work {
      grid-gap: 80px;
      margin-bottom: 120px; } }

.grid-container {
  display: grid;
  grid-gap: 20px; }
  @media screen and (min-width: 800px) {
    .grid-container {
      display: grid;
      grid-template-columns: 3fr 2fr;
      grid-gap: 20px; }
      .grid-container .section-lines {
        align-self: center; } }

.section-media {
  position: relative; }

.section-lines h4 {
  margin: 5px 0 10px 0; }
  @media (min-width: 850px) {
    .section-lines h4 {
      margin: 15px 0; } }

.icon-skills {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 100px; }

.link-team {
  text-decoration: none;
  color: salmon;
  font-weight: 700;
  transition: all 0.3s ease-in-out; }
  .link-team:hover, .link-team:focus, .link-team:active {
    color: #f3f3f5;
    text-shadow: 2px 3px 2px salmon; }

.about-me p {
  margin: 10px 0; }

.about-detail {
  display: grid;
  grid-gap: 20px; }
  @media (min-width: 600px) {
    .about-detail {
      display: grid;
      grid-template-columns: 3fr 2fr;
      grid-gap: 20px; }
      .about-detail .about-title {
        grid-column: 1/-1;
        grid-row: 1/2; }
      .about-detail .about-me {
        grid-column: 1/2;
        grid-row: 2/3; }
      .about-detail .slideshow-container {
        grid-column: 2/3;
        grid-row: 2/4; }
        .about-detail .slideshow-container img {
          object-fit: cover; } }
  @media (min-width: 1024px) {
    .about-detail {
      grid-template-columns: 2fr 1fr; }
      .about-detail .about-title {
        grid-column: 1/2;
        grid-row: 1/2; }
      .about-detail .about-me {
        grid-column: 1/2;
        grid-row: 2/3; }
      .about-detail .about-drawing {
        grid-column: 1/2;
        grid-row: 3/4; }
      .about-detail .slideshow-container {
        grid-column: 2/3;
        grid-row: 1/4; } }

.slideshow-container {
  margin: 0 auto; }

.about-me {
  text-align: center; }
  .about-me p {
    text-align: left; }

.more-text {
  background-color: #f3f3f5;
  position: relative;
  -webkit-clip-path: circle(20% at 0 50%);
  clip-path: circle(20% at 0 50%);
  cursor: pointer;
  transition: all 0.5s ease-in-out; }
  .more-text:hover, .more-text:active, .more-text:focus {
    background-color: rgba(243, 243, 245, 0);
    -webkit-clip-path: circle(100% at 50% 50%);
    clip-path: circle(100% at 50% 50%); }
  .more-text span {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-10%, -50%);
    color: #dcba9c;
    transition: color 0.5s; }
  .more-text:hover span {
    color: rgba(255, 255, 255, 0); }

/* About - Drawings Slide Show */
/* Slide Show Pager styles */
/* from Day06 Position Absoulte & Relative */
/* The pager styles modified from: http://jquery.malsup.com/cycle2/demo/pager.php */
/* pager */
.cycle-pager {
  text-align: center;
  width: 100%;
  z-index: 500;
  position: absolute;
  bottom: 5px;
  overflow: hidden; }

.cycle-pager span {
  font-family: arial;
  font-size: 50px;
  width: 16px;
  height: 16px;
  display: inline-block;
  color: #ddd;
  cursor: pointer; }

.cycle-pager span.cycle-pager-active {
  color: #ffc0b8; }

.cycle-pager > * {
  cursor: pointer; }

@media screen and (min-width: 850px) {
  footer {
    max-width: 1000px;
    margin: 0 170px 0 auto; } }
@media screen and (min-width: 1340px) {
  footer {
    max-width: 1000px;
    margin: 0 auto; } }
footer .footer-container {
  padding: 30px;
  text-align: right;
  color: #f3eeea;
  font-size: 1em; }
  footer .footer-container p {
    margin: 0;
    padding: 0;
    text-align: right; }
  footer .footer-container .sns i {
    cursor: pointer;
    font-size: 1.5em;
    padding-left: 0.3em;
    color: #f3eeea;
    transition: color 0.3s ease-in-out; }
    footer .footer-container .sns i:hover, footer .footer-container .sns i:active, footer .footer-container .sns i:focus {
      color: salmon; }

section .btn-link {
  display: block;
  text-align: right;
  margin-top: 20px; }
  section .btn-link .btn-more {
    text-transform: uppercase;
    font-weight: 900;
    padding: 5px 8px;
    color: #dcba9c;
    background-color: #f3f3f5;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    section .btn-link .btn-more:hover, section .btn-link .btn-more:focus, section .btn-link .btn-more:active {
      color: salmon; }

/*# sourceMappingURL=styles.css.map */
